@(ParecerExternoForm: Form[br.ufes.scap.models.ParecerExternoFormData], solicitacao : br.ufes.scap.models.SolicitacaoFull)(implicit request: RequestHeader)

@import br.ufes.scap.models.{StatusSolicitacao, TipoJulgamento, Setor}

@main() {

    @ParecerExternoForm.globalError.map { error =>
        <p class="error">
            <font face="trebuchet ms" color="yellow">@error.message </font>
        </p>
	}

<body bgcolor="teal"  >
<fieldset>
      <form action = "@br.ufes.scap.controllers.routes.PareceresExternoController.registrarParecerExterno(solicitacao.id)" align="center"
	method = "post">
         <br>

		<h1><font color="white" face="trebuchet ms"> Registrar Parecer Externo</font></h1>

		<font color="white" face="trebuchet ms">Órgão Emissor: &nbsp;&nbsp </font>

		@if(solicitacao.status.equals(StatusSolicitacao.AprovadaCT.toString())){
		<input type="text" readonly="readonly" name="tipo" id="tipo" value=@Setor.PRPPG.toString()>
		}else{
		<input type="text" readonly="readonly" name="tipo" id="tipo" value=@Setor.CT.toString()>	
		}
		<br> 
		<br>

		<font color="white" face="trebuchet ms"> Julgamento: &nbsp;&nbsp </font>
		<select id=julgamento name="julgamento" value="">
		@for(j <- TipoJulgamento.values){
  			<option value=@j.toString()>@j.toString()</option>
		}
		</select>
		<br> 
		<br>
		

    		<font color="white" face="trebuchet ms">Escolha o documento para anexar: &nbsp;&nbsp </font>
    		<input type="file" name="filePath" id="filePath">

		<br> 
		<br>
		<br> 
		<br>


         <input type = "submit" align="center" onclick="return confirm('Você tem certeza de que deseja registrar esse parecer?');" value = "Registrar">
      </form>

</fieldset>

<br>
<br>
<br>

		
<form align="left">
<a href="@br.ufes.scap.controllers.routes.LoginController.menu()"><font color="yellow" face="trebuchet ms">Voltar ao Menu Principal</font></a>
</form>

</body>
}
