@(parecer : br.ufes.scap.models.ParecerExternoFull)

@import java.util.Locale
@import java.time.format.TextStyle

@main() {
<body  bgcolor="teal">

<form align="right">
<a href="@br.ufes.scap.controllers.routes.LoginController.logout"><font color="yellow" face="trebuchet ms">Logout</font></a>
</form>

<fieldset>
<h1><font color="white" face="trebuchet ms">Dados do Parecer</font></h1>

<font color="white" face="trebuchet ms"> * Parecer emitido para a solicitacao de afastamento do(a) professor(a) @parecer.solicitacao.professor.nome em virtude do evento @parecer.solicitacao.nomeEvento</font>
<br>
<br>

<table style="width:100%" border="5" >
 		    <tr>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp ID &nbsp;&nbsp </font> </td>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp @parecer.id &nbsp;&nbsp </font> </td>
                </tr>
                <tr>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp ÓRGÃO &nbsp;&nbsp </font> </td>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp @parecer.tipo &nbsp;&nbsp </font> </td>
                </tr>
                <tr>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp DATA DE EMISSÃO &nbsp;&nbsp </font> </td>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp @parecer.dataParecer.getDayOfMonth() de @parecer.dataParecer.getMonth().getDisplayName(TextStyle.FULL, new Locale("pt")) de @parecer.dataParecer.getYear() &nbsp;&nbsp </font> </td>
                </tr>
                <tr>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp JULGAMENTO &nbsp;&nbsp </font> </td>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp @parecer.julgamento &nbsp;&nbsp </font> </td>
                </tr>
                <tr>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp DOCUMENTO &nbsp;&nbsp  </font> </td>
			  <td>&nbsp;&nbsp<a href="@br.ufes.scap.controllers.routes.PareceresExternoController.DownloadFile(parecer.id)"><font color="yellow" face="trebuchet ms">Download</font></a>&nbsp;&nbsp</td>
                </tr>
</table>
<br>
<br>
<br>
<br>
<form align="left">
<a href="@br.ufes.scap.controllers.routes.LoginController.menu()"><font color="yellow" face="trebuchet ms">Voltar ao Menu Principal</font></a>
</form>

</body>
}
