@(solicitacao : br.ufes.scap.models.SolicitacaoFull, userTipo : String)(implicit request: RequestHeader)

@import br.ufes.scap.models.{TipoUsuario, StatusSolicitacao, TipoAcessorio, TipoAfastamento}
@import java.util.Locale
@import java.time.format.TextStyle

@main() {

<body  bgcolor="teal">

<form align="right">
<a href="@br.ufes.scap.controllers.routes.LoginController.logout"><font color="yellow" face="trebuchet ms">Logout</font></a>
</form>

<fieldset>
<h1><font color="white" face="trebuchet ms">Dados da Solicitação de Afastamento</font></h1>
<table style="width:100%" border="5" >
                <tr>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp ID </font> </th>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp @solicitacao.id &nbsp;&nbsp </font> </th>
                </tr>
                <tr>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp Evento </font> </th>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp @solicitacao.nomeEvento &nbsp;&nbsp </font> </th>
                </tr>
                <tr>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp Professor(a) </font> </th>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp @solicitacao.professor.nome &nbsp;&nbsp </font> </th>
                </tr>
                <tr>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp Status da Solicitação </font> </th>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp @solicitacao.status &nbsp;&nbsp </font> </th>
                </tr>
                <tr>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp Relator(a) </font> </th>
@if(solicitacao.relator != None){
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp @solicitacao.relator.get.nome &nbsp;&nbsp </font> </th>
}else{
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp --- </font> </th>
}
                </tr>
                <tr>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp Ônus </font> </th>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp @solicitacao.onus &nbsp;&nbsp </font> </th>
                </tr>
                <tr>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp Tipo de Afastamento </font> </th>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp @solicitacao.tipoAfastamento &nbsp;&nbsp </font> </th>
                </tr>

                <tr>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp Início do Afastamento &nbsp;&nbsp;&nbsp;&nbsp;&nbsp </font> </th>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp @solicitacao.dataIniAfast.getDayOfMonth() de @solicitacao.dataIniAfast.getMonth().getDisplayName(TextStyle.FULL, new Locale("pt")) de @solicitacao.dataIniAfast.getYear() &nbsp;&nbsp </font> </th>
                </tr>

                <tr>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp Fim do Afastamento </font> </th>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp @solicitacao.dataFimAfast.getDayOfMonth() de @solicitacao.dataFimAfast.getMonth().getDisplayName(TextStyle.FULL, new Locale("pt")) de @solicitacao.dataFimAfast.getYear() &nbsp;&nbsp </font> </th>
                </tr>

                <tr>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp Início do Evento </font> </th>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp @solicitacao.dataIniEvento.getDayOfMonth() de @solicitacao.dataIniEvento.getMonth().getDisplayName(TextStyle.FULL, new Locale("pt")) de @solicitacao.dataIniEvento.getYear() &nbsp;&nbsp </font> </th>
                </tr>

                <tr>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp Fim do Evento </font> </th>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp @solicitacao.dataFimEvento.getDayOfMonth() de @solicitacao.dataFimEvento.getMonth().getDisplayName(TextStyle.FULL, new Locale("pt")) de @solicitacao.dataFimEvento.getYear() &nbsp;&nbsp </font> </th>
                </tr>

</table>


<br>
<br>
@if( userTipo.equals(TipoUsuario.Sec.toString()) && solicitacao.status.equals(StatusSolicitacao.Bloqueada.toString()) ){
<form role="form" action='@br.ufes.scap.controllers.routes.SolicitacoesController.aprovar(solicitacao.id)' method="get" align="center">
                <input type="submit" onclick="confirm('Você tem certeza de que deseja APROVAR essa solicitação? Não é possível alterá-la depois.')" value="Aprovar solicitação">
</form>
<br>
<br>
}

@if( userTipo.equals(TipoUsuario.Sec.toString()) && solicitacao.status.equals(StatusSolicitacao.Bloqueada.toString()) ){
<form role="form" action='@br.ufes.scap.controllers.routes.SolicitacoesController.reprovar(solicitacao.id)' method="get" align="center">
                <button type="submit" onclick="confirm('Você tem certeza de que deseja REPROVAR essa solicitação? Não é possível alterá-la depois.')">Reprovar solicitação</button>
</form>
<br>
<br>
}

@if(userTipo.equals(TipoUsuario.Sec.toString()) && (solicitacao.status.equals(StatusSolicitacao.Reprovada.toString()) || solicitacao.status.equals(StatusSolicitacao.AprovadaPRPPG.toString()) ) ){
<a href="@br.ufes.scap.controllers.routes.SolicitacoesController.arquivar(solicitacao.id)"><font color="yellow" face="trebuchet ms">Arquivar solicitação</font></a>
<br>
<br>
}

@if(userTipo.equals(TipoUsuario.Sec.toString()) && (solicitacao.tipoAfastamento.equals(TipoAfastamento.Nacional.toString()) && solicitacao.status.equals(StatusSolicitacao.AprovadaDI.toString()) ) ){
<a href="@br.ufes.scap.controllers.routes.SolicitacoesController.arquivar(solicitacao.id)"><font color="yellow" face="trebuchet ms">Arquivar solicitação</font></a>
<br>
<br>
}

@if(userTipo.equals(TipoUsuario.Sec.toString()) && solicitacao.tipoAfastamento.equals(TipoAfastamento.Internacional.toString()) &&(solicitacao.status.equals(StatusSolicitacao.AprovadaDI.toString()) || solicitacao.status.equals(StatusSolicitacao.AprovadaCT.toString()))){
<a href="@br.ufes.scap.controllers.routes.PareceresExternoController.registrarParecerExternoForm(solicitacao.id)"><font color="yellow" face="trebuchet ms">Registrar parecer externo</font></a>
<br>
<br>
}

@if(userTipo.equals(TipoAcessorio.Chefe.toString()) && solicitacao.status.equals(StatusSolicitacao.Iniciada.toString())){
<a href="@br.ufes.scap.controllers.routes.SolicitacoesController.encaminharSolicitacao(solicitacao.id)">
<font color="yellow" face="trebuchet ms">Designar relator</font></a>
<br>
<br>
}

@if(userTipo.equals(TipoAcessorio.Autor.toString()) && !solicitacao.status.equals(StatusSolicitacao.Cancelada.toString())){
<a href="@br.ufes.scap.controllers.routes.SolicitacoesController.cancelarSolicitacao(solicitacao.id)" align="center" method="get">
<font color="yellow" face="trebuchet ms">Cancelar solicitação</font></a>
<br>
<br>
}

@if( (userTipo.equals(TipoUsuario.Prof.toString()) || userTipo.equals(TipoAcessorio.Chefe.toString())) && solicitacao.status.equals(StatusSolicitacao.Iniciada.toString()) && solicitacao.tipoAfastamento.equals(TipoAfastamento.Nacional.toString()) ){
<a href="@br.ufes.scap.controllers.routes.PareceresController.manifestarContraForm(solicitacao.id)">
<font color="yellow" face="trebuchet ms">Manifestar-se contra</font></a>
<br>
<br>
}

@if(userTipo.equals(TipoAcessorio.Relator.toString()) && solicitacao.status.equals(StatusSolicitacao.Liberada.toString())){
<a href="@br.ufes.scap.controllers.routes.PareceresController.registrarParecer(solicitacao.id)"><font color="yellow" face="trebuchet ms">Registrar parecer</font></a>
<br>
<br>
}


<a href="@br.ufes.scap.controllers.routes.PareceresController.index(solicitacao.id)"><font color="yellow" face="trebuchet ms">Ver Pareceres</font></a>
<br>
</fieldset>
<br>
<br>
<br>
<br>
<br>

<form align="left">
<a href="@br.ufes.scap.controllers.routes.LoginController.menu()"><font color="yellow" face="trebuchet ms">Voltar ao Menu Principal</font></a>
</form>
}
